{% import 'macros/header.html' as macros_header %}
{% import 'macros/footer.html' as macros_footer %}
{% import 'macros/head.html' as macros_head %}
{% import 'macros/javascript.html' as macros_js %}

<!DOCTYPE html>
<html lang="{{ config.default_language }}">
    <head>
        {{ macros_head::seo() }}
        {{ macros_head::stylesheets() }}
        {{ macros_js::google_analytics() }}
    </head>

    <body>
        {% block header %}
            {{ macros_header::header() }}
        {% endblock %}

        <div id="content">
            {% block content %}{% endblock %}     
        </div>

        {% block footer %}
            {{ macros_footer::footer() }} 
        {% endblock %}
        
        {{ macros_js::javascript() }} 
    </body>
</html>