{% import 'macros/header.html' as macros_header %}
{% import 'macros/footer.html' as macros_footer %}
{% import 'macros/javascript.html' as macros_js %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title | default(value="Untitled") }} | {{ config.title }}</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta itemprop="name" content="{{ config.title }}">
        <meta itemprop="description" content="{{ config.description }}">

        <link rel="stylesheet" href="{{ get_url(path='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ get_url(path='css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
    </head>

    <body>
        {% block header %}
            {{ macros_header::header() }}
        {% endblock %}

        <div id="content">
            {% block content %}{% endblock %}     
        </div>

        {% block footer %}
            {{ macros_footer::footer() }} 
        {% endblock %}
        
        {{ macros_js::javascript() }} 
        {{ macros_js::google_analytics() }}
    </body>
</html>