{% macro resume(config) %}
 {% set data = load_data(path=config.file) | default(value=config) %}

 {% if config.enable %}
 <section class="section resume" id="resume">
    <div class="resume__background"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="resume__heading">
                    <span>{{ data.infos.title }}</span>
                    <h1>{{ data.infos.title }}</h1>
                    <p> {{ data.infos.subtitle }} </p><br><br>
                    <p> {{ data.infos.second_subtitle }} </p>
                    <ul class="nav nav-tabs">
                        <li><a href="#{{ data.infos.tabs[0].target }}" class="active" data-bs-toggle="tab">{{ data.infos.tabs[0].name }}</a></li>
                        <li><a href="#{{ data.infos.tabs[1].target }}" data-bs-toggle="tab">{{ data.infos.tabs[1].name }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tab-content">
                    <div class="resume__education tab-pane show active" id="{{ data.infos.tabs[0].target }}">
                        {% for education in data.infos.educations %}
                            <div class="resume__education_item">
                                <span>{{ education.time }}</span>
                                <h4>{{ education.title }}</h4>
                                <p>{{ education.content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <div class="resume__education tab-pane" id="{{ data.infos.tabs[1].target }}">
                        {% for experience in data.infos.experiences %}
                            <div class="resume__education_item">
                                <span>{{ experience.time }}</span>
                                <h4>{{ experience.title }}</h4>
                                <p>{{ experience.content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>
 {% endif %}
{% endmacro %}